.container{
  width: 50% !important;
  border: 1px solid #F06292;
  padding: 50px;
  border-radius: 5px;
}

.btn{
  margin-top: 20px;
  margin-bottom: 40px;
}

.grey{
  background-color: #9E9E9E;
  text-align: center;
  color: white;
}

.yellow{
  background-color: #FDD835;
  text-align: center;
  color: white;
}

.green{
  background-color: #2E7D32;
  text-align: center;
  color: white;
}

.orange{
  background-color: #FF7043;
  text-align: center;
  color: white;
}